.fa-github:hover {
    color: #24292e;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-linkedin-in:hover {
    color: #2867B2;
}

.fab {
    color: #515151;
    transition: color 0.3s;
}